version: "3.8"
services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      - SERVICES=sqs
      - DEBUG=0
      - AWS_DEFAULT_REGION=ap-northeast-2
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
